body{margin: 0;
     font-family: 'Ubuntu', sans-serif;
     background-image: url("images/noise-white.png");}

header{background-color: #d1d1d1;
       padding: 10px;
       font-family: 'Slabo 27px', serif;
       text-align: center;
       box-shadow: 0px 3px 5px rgba(0,0,0,0.3);}

section{margin-bottom: 10px;}

h2{color: white;
   background: black;
   padding: 15px;
   box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
   max-width: 400px;
   font-family: 'Slabo 27px', serif;
 /*border-right: thick solid #ff9900;*/}

#container{margin: auto;
           max-width: 800px;}

form{background: #ff9900;
     border-width: 2px;
     border-style: solid;
     border-color: #d1d1d1;
     padding: 20px;
     box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
     margin-top: 10px;
     font-size: 120%;}

form:hover {background-color: #ffa31a;}

input{padding: 10px;}

button{padding: 10px;
       color: white;
       background: black;
       font-weight: bold;
       border: none;
       border-radius: 10%;
       float: right;}

button:hover {background: #333333;}

#displayStats, #characterStats{color: white;
                               background-color: #8c8273;
                               border-width: 2px;
                               border-style: solid;
                               border-color: #d1d1d1;
                               padding: 20px;
                               box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
                               margin-top: 10px;}

#displayStats, #characterStats table{text-align: center;}
#displayStats td{width: 30vw;
                 padding-bottom: 2vh;
                 padding-top: 2vh;}

#characterStats td,th{width: 30vw;
                      padding-bottom: 2vh;
                      padding-top: 2vh;}
#characterStats th{text-decoration: underline;
                   font-family: 'Ubuntu', sans-serif;
                   font-size: 120%;}

textarea{width: 100%;}

footer{text-align: center;
       background: #ff9900;
       margin-top: 10vh;
       margin-bottom: 0;
       padding: 5vh;
       box-shadow: 0px 3px 3px 6px rgba(0,0,0,0.2);}
